* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 0px;
	height: 0;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {

    -webkit-appearance: none !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}
body {
	position: relative;
	height: 100vh;
	font-family: 'Roboto Mono', monospace;
	background-color: #1a1f39;
	color: #fff;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 15px 0;
	button {
		cursor: pointer;
	}

	.top {
		display: flex;
		justify-content: space-between;
		padding: 0 15px;
		color: #83eeff;
		a {
			text-decoration: none;
			color: #83eeff;
		}
		.info {
			margin: auto 0;
			font-size: 20px;
			i {
				cursor: pointer;
				padding: 10px;
			}
		}
	}
	.menu {
		display: flex;
		justify-content: space-around;
		height: 30px;
		.navBtns {
			cursor: pointer;
			color: #999;
			background: none;
			border: none;
			font-size: 1em;
			padding: 1px 0;
			a {
				text-decoration: none;
				color: #e7d315;
			}
			i {
				padding: 15px;
			}
		}
		.active {
			color: #e7d315;
			border-bottom: 1px solid #e7d315;
		}
	}
	.countdownContainer {
		padding: 30px 0;
		.circle {
			width: 200px;
			height: 200px;
			border: 5px solid #e7d315;
			border-radius: 50%;
			margin: auto;
			margin-bottom: 15px;
			p {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				font-size: 35px;
			}
		}
		.adjustmentButtons {
			height: 150px;
			.labels,
			.plusButtons,
			.minusButtons,
			.setTime {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				padding: 5px 0;
			}
			.min {
				margin-right: 10px;
			}
			.sortUp,
			.sortDown {
				height: 25px;
				width: 35px;
				text-align: center;
				border: none;
				color: #111;
				background-color: #e7d315;
				border-radius: 5px;
				opacity: 0.7;
			}
			.setTime {
				font-size: 20px;
				input {
					height: 25px;
					width: 35px;
					border: none;
					border-radius: 5px;
					text-align: center;
					color: #fff;
					background-color: #76798e;
				}
				input:focus {
					outline: none;
				}
			}
		}
		.adjHide {
			opacity: 0;
			transition: opacity 0.3s;
		}
		.adjShow {
			opacity: 1;
			transition: opacity 0.3s;
		}
		.countdownStart,
		.countdownPause,
		.countdownStop {
			display: none;
			flex-direction: row;
			justify-content: center;
			padding-top: 2px;
			margin: 0 10px;
			.startCountdown,
			.pauseCountdown,
			.stopCountdown {
				height: 30px;
				width: 100px;
				margin: 5px 0;
				border: none;
				border-radius: 15px;
				color: #fff;
				background-color: #76798e;
				.fa-play,
				.fa-pause,
				.fa-stop {
					margin-right: 5px;
				}
			}
		}

		.countdownStart,
		.countdownStop {
			display: flex;
		}
		// .pauseCountdown {
		// 	display: none;
		// }
		// .startCountdown{
		// 	display: block;
		// }
	}
	.topDecorCont,
	.botDecorCont {
		display: none;
		position: absolute;
		width: 100%;
		height: 20px;
		.topTripleDecor,
		.botTripleDecor {
			display: flex;
			flex-direction: row;
			.topOne,
			.topTwo,
			.topThree,
			.botOne,
			.botTwo,
			.botThree {
				width: 10px;
				margin: 0 5px;
				background-color: #fe019a;
				box-shadow: 0 0 7px 0px #fe019a;
			}
		}
		.mainTopDecor,
		.mainBotDecor {
			height: 20px;
			width: 35%;
			background-color: #fe019a;
			box-shadow: 0 0 7px 0px #fe019a;
		}
	}
	.topDecorCont {
		justify-content: flex-start;
		top: 0;
		left: 0;
		.topTripleDecor {
			.topOne,
			.topTwo,
			.topThree {
				transform: skew(-19deg);
			}
		}
		.mainTopDecor {
			margin: 0 5px 0 -5px;
			transform: skew(-19deg);
		}
	}
	.botDecorCont {
		justify-content: flex-end;
		bottom: 0;
		right: 0;
		.botTripleDecor {
			.botOne,
			.botTwo,
			.botThree {
				transform: skew(19deg);
			}
		}
		.mainBotDecor {
			margin: 0 -5px 0 5px;
			transform: skew(19deg, 0deg);
		}
	}
}
.modal-shadow {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	.modal {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 400px;
		width: 300px;
		padding: 30px 60px;
		border-radius: 15px;
		color: #111;
		background-color: #fff;
		h3 {
			text-align: center;
			font-size: 30px;
			margin-bottom: 20px;
		}
		p {
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;
			margin-left: 20px;
			font-size: 20px;
		}
		.close {
			cursor: pointer;
			display: block;
			height: 40px;
			width: 150px;
			margin: 0 auto;
			border: none;
			border-radius: 5px;
			font-size: 1.2em;
			color: #fff;
			background-color: red;
			margin-top: 10px;
		}
	}
	.hide {
		display: none;
	}
	.show {
		display: block;
	}
}

@media (min-width: 576px) {
	.wrapper {

		.top {
			padding: 0 20px;
		}
		.menu {
			padding: 0px 70px;
		}
		.circle {
			width: 250px;
			height: 250px;
		}
		p {
			font-size: 20px;
		}
		.circle {
			height: 400px;
			width: 400px;
		}
	}
	.modal {
		height: 400px;
		width: 400px;
	}
}

@media (min-width: 768px) {
	.wrapper {
		justify-content: center;
	}
	.container {
		margin: 0 auto;
		padding: 20px 0;
		border: 1px solid black;
		box-shadow: 0px 0px 20px 0px #fe019a;
		border-radius: 20px;
		width: 700px;
		height: 580px;
		.circle {
			width: 270px;
			height: 270px;
			p {
				font-size: 50px;
			}
		}
		.topDecorCont,
		.botDecorCont {
			display: flex;
		}
	}
	.modal-shadow {
		.modal {
			text-align: left;
			height: 400px;
			width: 500px;
		}
	}
}
