* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  position: relative;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  background-color: #1a1f39;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 15px 0;
}

.wrapper .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  color: #83EEFF;
}

.wrapper .top a {
  text-decoration: none;
  color: #83EEFF;
}

.wrapper .top .info {
  margin: auto 0;
  font-size: 20px;
}

.wrapper .top .info i {
  cursor: pointer;
  padding: 10px;
}

.wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30px;
}

.wrapper .menu .navBtns {
  cursor: pointer;
  color: #e7d315;
  background: none;
  border: none;
  font-size: 1em;
  padding: 1px 0;
}

.wrapper .menu .navBtns a {
  text-decoration: none;
  color: var(--red);
}

.wrapper .menu .navBtns i {
  padding: 15px;
}

.wrapper .menu .active {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}

.wrapper .clockContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  height: 100px;
  padding: 5px 20px;
}

.wrapper .clockContainer .clockTime {
  font-size: 2.5em;
}

.wrapper .clockContainer .dateTime {
  font-size: 0.8em;
  color: #e7d315;
}

.wrapper .worldTime {
  overflow: auto;
  padding: 0 10px;
  height: 260px;
}

.wrapper .worldTime .place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  width: 100%;
  margin: 10px 0;
}

.wrapper .worldTime .place .dayNight {
  margin: auto 0;
  font-size: 2em;
  padding: 5px 10px;
}

.wrapper .worldTime .place .dayNight .fa-moon {
  color: #dddcdc;
}

.wrapper .worldTime .place .dayNight .fa-sun {
  color: #e7d315;
}

.wrapper .worldTime .place .city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.wrapper .worldTime .place .city .location .cityp {
  padding: 5px 0;
  font-size: 1.2em;
}

.wrapper .worldTime .place .city .location .differnce {
  font-size: 0.8em;
  color: #e7d315;
}

.wrapper .worldTime .place .city .dateTime .hour {
  padding: 1px 0;
  font-size: 1.5em;
}

.wrapper .worldTime .place .city .dateTime .day {
  font-size: 0.8em;
  color: #e7d315;
}

.wrapper .worldTime .place .delete {
  display: none;
  cursor: pointer;
  margin: auto 5px;
  padding: 5px;
  color: red;
}

.wrapper .worldTime .place .fa-times {
  padding: 5px;
}

.wrapper .worldTime .place .show {
  display: block;
}

.wrapper .removeCity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  padding-bottom: 15px;
}

.wrapper .removeCity .fa-times-circle {
  display: block;
  cursor: pointer;
  color: red;
  padding: 5px;
}

.wrapper .removeCity .fa-check-circle {
  display: none;
  cursor: pointer;
  color: green;
  padding: 5px;
}

.wrapper .newCity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #e7d315;
  padding: 10px 10px;
}

.wrapper .newCity input {
  height: 30px;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #76798e;
  font-size: 20px;
  padding-left: 20px;
  width: 70%;
}

.wrapper .newCity input:focus {
  outline: none;
}

.wrapper .newCity p {
  cursor: pointer;
  font-size: 2em;
  padding: 0 5px;
}

.wrapper .newCity ::-webkit-input-placeholder {
  color: #e7d315;
  font-size: 15px;
}

.wrapper .newCity :-ms-input-placeholder {
  color: #e7d315;
  font-size: 15px;
}

.wrapper .newCity ::-ms-input-placeholder {
  color: #e7d315;
  font-size: 15px;
}

.wrapper .newCity ::placeholder {
  color: #e7d315;
  font-size: 15px;
}

.wrapper .topDecorCont,
.wrapper .botDecorCont {
  display: none;
  position: absolute;
  width: 100%;
  height: 20px;
}

.wrapper .topDecorCont .topTripleDecor,
.wrapper .topDecorCont .botTripleDecor,
.wrapper .botDecorCont .topTripleDecor,
.wrapper .botDecorCont .botTripleDecor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .topDecorCont .topTripleDecor .topOne,
.wrapper .topDecorCont .topTripleDecor .topTwo,
.wrapper .topDecorCont .topTripleDecor .topThree,
.wrapper .topDecorCont .topTripleDecor .botOne,
.wrapper .topDecorCont .topTripleDecor .botTwo,
.wrapper .topDecorCont .topTripleDecor .botThree,
.wrapper .topDecorCont .botTripleDecor .topOne,
.wrapper .topDecorCont .botTripleDecor .topTwo,
.wrapper .topDecorCont .botTripleDecor .topThree,
.wrapper .topDecorCont .botTripleDecor .botOne,
.wrapper .topDecorCont .botTripleDecor .botTwo,
.wrapper .topDecorCont .botTripleDecor .botThree,
.wrapper .botDecorCont .topTripleDecor .topOne,
.wrapper .botDecorCont .topTripleDecor .topTwo,
.wrapper .botDecorCont .topTripleDecor .topThree,
.wrapper .botDecorCont .topTripleDecor .botOne,
.wrapper .botDecorCont .topTripleDecor .botTwo,
.wrapper .botDecorCont .topTripleDecor .botThree,
.wrapper .botDecorCont .botTripleDecor .topOne,
.wrapper .botDecorCont .botTripleDecor .topTwo,
.wrapper .botDecorCont .botTripleDecor .topThree,
.wrapper .botDecorCont .botTripleDecor .botOne,
.wrapper .botDecorCont .botTripleDecor .botTwo,
.wrapper .botDecorCont .botTripleDecor .botThree {
  width: 10px;
  margin: 0 5px;
  background-color: #fe019a;
  -webkit-box-shadow: 0 0 7px 0px #fe019a;
          box-shadow: 0 0 7px 0px #fe019a;
}

.wrapper .topDecorCont .mainTopDecor,
.wrapper .topDecorCont .mainBotDecor,
.wrapper .botDecorCont .mainTopDecor,
.wrapper .botDecorCont .mainBotDecor {
  height: 20px;
  width: 35%;
  background-color: #fe019a;
  -webkit-box-shadow: 0 0 7px 0px #fe019a;
          box-shadow: 0 0 7px 0px #fe019a;
}

.wrapper .topDecorCont {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 0;
  left: 0;
}

.wrapper .topDecorCont .topTripleDecor .topOne,
.wrapper .topDecorCont .topTripleDecor .topTwo,
.wrapper .topDecorCont .topTripleDecor .topThree {
  -webkit-transform: skew(-19deg);
          transform: skew(-19deg);
}

.wrapper .topDecorCont .mainTopDecor {
  margin: 0 5px 0 -5px;
  -webkit-transform: skew(-19deg);
          transform: skew(-19deg);
}

.wrapper .botDecorCont {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  bottom: 0;
  right: 0;
}

.wrapper .botDecorCont .botTripleDecor .botOne,
.wrapper .botDecorCont .botTripleDecor .botTwo,
.wrapper .botDecorCont .botTripleDecor .botThree {
  -webkit-transform: skew(19deg);
          transform: skew(19deg);
}

.wrapper .botDecorCont .mainBotDecor {
  margin: 0 -5px 0 5px;
  -webkit-transform: skew(19deg, 0deg);
          transform: skew(19deg, 0deg);
}

.modal-shadow {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-shadow .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 400px;
  width: 300px;
  padding: 30px 60px;
  border-radius: 15px;
  color: #111;
  background-color: #fff;
}

.modal-shadow .modal h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.modal-shadow .modal p {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 20px;
}

.modal-shadow .modal .close {
  cursor: pointer;
  display: block;
  height: 40px;
  width: 150px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  color: #fff;
  background-color: red;
  margin-top: 10px;
}

.modal-shadow .hide {
  display: none;
}

.modal-shadow .show {
  display: block;
}

@media (min-width: 576px) {
  .wrapper .worldTime .place {
    width: 80%;
    margin: 10px auto;
  }
  .wrapper .top {
    padding: 0 20px;
  }
  .wrapper .menu {
    padding: 0px 70px;
  }
  .modal {
    height: 400px;
    width: 400px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .worldTime .place {
    width: 80%;
    margin: 10px auto;
  }
  .wrapper .topDecorCont,
  .wrapper .botDecorCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container {
    margin: 0 auto;
    padding: 20px 0;
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 20px 0px #fe019a;
            box-shadow: 0px 0px 20px 0px #fe019a;
    border-radius: 20px;
    width: 700px;
    height: 580px;
  }
  .modal-shadow .modal {
    text-align: left;
    height: 400px;
    width: 500px;
  }
  .modal-shadow .modal .fa-times {
    margin-left: 5px;
  }
}
/*# sourceMappingURL=time.css.map */